# IDE specific files and folders
.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test exclusions
*.test

# Build exclusion
*.out
out
dist
completions

# Project specific exclusion
inventory.yaml
secure_inventory.yaml
secure_inventory.yaml.bck
bash_completion
# Added by goreleaser init:
dist/
